{% load static %}
<html>
    <head>
        <title>Teraz</title>
        <link rel="stylesheet" href='{%static "styles.css" %}'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div id='log'>
            <form method='post'>
                {% csrf_token %}
                <input type='password' id='pd' placeholder="ACCES CODE" name='password' />
            
                <br>
                <button type='submit' value='post' class="btn btn-warning lw">GET IN</button>

            </form>

        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='{% static "javascript.js" %}'></script>
</html>