@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body{
    background-color: black !important;
    color: #BABABA !important;
    font-size: 2.5rem !important;
    margin-left: 20rem !important;
    font-family: 'Inconsolata', monospace !important;
}
#info{
    position: absolute;
    top: 10rem;
}
#buts{
    position: absolute;
    top: 45rem;
    width: 100rem;
}
#bprz, #bt, #bp{
    position: relative;
    margin-left: 1%;
}
.bw{
    width: 10% !important;
    background-color: black !important;
    maArgin-bottom: 6% !important;
    border-color: white !important;
    color: #BABABA !important;
    font-size: 60% !important;
    font-family: 'Inconsolata', monospace !important;
}
#przed, #teraz, #po{
    margin-bottom: 1.5% !important;
}

#log{
    position: absolute;
    top: 40%;
    left: 41.5%;
}
.lw{
    margin-top: 3% !important;
    position: relative;
    width: 100%;
    font-size: 60% !important;
    font-weight: bold !important;
    background-color: black !important;
    border-color: white !important;
}

::-webkit-input-placeholder {
    text-align: center;
}
#formularz{
    position: absolute !important;
    top: 40% !important;
}
input{
    height: 1.15em !important;
    margin-top: 0.5% !important;
    color: black;
    border-radius: 4px;
    border-color: white !important;
}
.sw{
    margin-top: 3% !important;
    position: relative;
    width: 100%;
    font-size: 60% !important;
    font-weight: bold !important;
    background-color: black !important;
    border-color: white !important;
    width: 81.5%;
}
#info1{
    position: absolute;
    top: 10%;
}
#reason{
    height: 3em !important;
}

@media all and(max-width: 2000px){
    #buts{
        wiadth: 30%;
    }
    body{
        font-size: 200% !important;
    }

}
