@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body{
    background-color: black !important;
    color: #BABABA !important;
    font-size: 2.5rem !important;
    margin-left: 20rem !important;
    font-family: 'Inconsolata', monospace !important;
}
#info{
    position: absolute;
    top: 10rem;
}
#buts{
    position: absolute;
    top: 40rem;
    width: 100rem;
}
#bprz, #bt, #bp{
    position: relative;
    margin-left: 1%;
}
.bw{
    width: 10% !important;
    background-color: black !important;
    maArgin-bottom: 6% !important;
    border-color: white !important;
    color: #BABABA !important;
    font-size: 60% !important;
    font-family: 'Inconsolata', monospace !important;
}
#przed, #teraz, #po{
    margin-bottom: 1.5% !important;
}

#log{
    position: absolute;
    top: 40%;
    left: 41.5%;
}
.lw{
    margin-top: 3% !important;
    position: relative;
    width: 100%;
    font-size: 60% !important;
    font-weight: bold !important;
    background-color: black !important;
    border-color: white !important;
}

::-webkit-input-placeholder {
    text-align: center;
}
#formularz{
    position: absolute !important;
    top: 40% !important;
}
input{
    height: 1.15em !important;
    margin-top: 0.5% !important;
    color: black;
    border-radius: 4px;
    border-color: white !important;
}
.sw{
    margin-top: 3% !important;
    position: relative;
    width: 100%;
    font-size: 60% !important;
    font-weight: bold !important;
    background-color: black !important;
    border-color: white !important;
    width: 81.5%;
}
#info1{
    position: absolute;
    top: 10%;
}
#reason{
    height: 3em !important;
}

@media all and (min-width: 1920px){
    #buts{
        wiadth: 30%;
    }
    body{
        fonat-size: 3rem !important;
    }
    #content0{
      font-size:2.5rem !important;
    }
    #buts{
      position: absolute;
      top: 45rem !important;
    }
}
#content0{
  position: absolute;
  top: 3rem !important;
  font-size: 1.5rem;
}
#info2{
  position: relative;
}
#go_back{
  position: relative;
  width: 80rem;
  margin-bottom: 8rem !important;
}
.lw:hover, .bw:hover{
  filater: blur(0.4px);
  opacity: 0.8;
}
#cho{
  width: 800px;
  height: 600px;
  position: absolute;
  left: 48%;
  top: 60%;
  margin-left: -300px;
  margin-top: -300px;
}
.ww{
  width: 16rem !important;
}
.ugh{
  width: 80rem;
  background-color: black;
  color: white;
  border: none;
}
#cl_edit{
  display:none;
}
